
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }


.grid_container{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.grid_container>div{
  background-color: blueviolet;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.box-l{
  background-color: aqua;
    }
